{% extends "bootstrap_base.html" %}

{% block title %}Cashmere{% endblock %}

{% block styles %}
 {{super()}}
 <link href="/static/css/sticky-footer.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Cashmere</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li><a href="/">流程规范</a></li>
                <li><a href="/">技术服务</a></li>
                <li><a href="/case_demos/">开发案例</a></li>
                <li><a href="/tutorials/">教程</a></li>
                <li><a href="/about/">关于我们</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Hello, {{ name }}!</h1>
    </div>
</div>
{% endblock %}

{%block footer%}
<footer class="footer navbar-static-bottom">
        <div class="container">
          <p class="text-muted">翔艺影视动画技术公司, 版权所有, 2018</p>
        </div>
      </footer>
</footer>
{% endblock %}







